/* untuk tablet */

@media (max-width: 768px) {
    .lesson {
        width: 50%;
    }
    .img {
        width: 75%;
        height: 75%
    }
    .top-wrapper h1 {
        font-size: 32px;
    }
    .top-wrapper,
    .btn-wrapper p {
        font-size: 18px;
    }
    .text-contents {
        width: 90%;
        font-size: 18px;
    }
    footer p {
        font-size: 16px;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .lesson {
        width: 100%;
    }
    .facebook {
        margin-bottom: 10px;
    }
    .btn {
        width: 100%;
    }
    .top-wrapper h1 {
        font-size: 25px;
    }
    .top-wrapper,
    .btn-wrapper p {
        font-size: 16px;
    }
    .text-contents {
        font-size: 16px;
    }
    .bars {
        display: block;
    }
    .header-right a {
        display: none;
    }
    footer p {
        font-size: 20px;
        text-align: center;
    }
}